#root {
  background-color: chocolate;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  width: 100%;
  display: flex;
}

section:first-child {
  align-self: flex-end;
}

body {
  display: flex;
  height: 100vh;
  margin: 0px;
}